/* CUSTOM PROPS */

:root {
  /* COLORS  */
  --accent-color: #eb242a;
  --white: #fff;
  --blue: #272d4e;
  --gray: #57606a;
  --light-gray: #fdf4f4;
  --dark-blue: #001a49;
  
  /* FONTS  */
  --mulish: "Mulish", "Arial", sans-serif;
  --roboto: "Roboto", "Arial", sans-serif;
}

/* FONT-FACE */

/* FONT-FACE  */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
  url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"),
  url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.woff2") format("woff2"),
  url("../fonts/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"),
  url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body  {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--mulish);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--white);
  color: #4f596a;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus{
  outline: 2px dashed var(--accent-color);
  outline-offset: 2px;
}

h1,
h2,
h3 {
  font-family: var(--roboto);
  color: var(--dark-blue);
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  display: none;
}

/* BUTTON */

.site-header-btn {
  display: flex;
  align-items: center;
  border: 2px solid red;
  text-decoration: none;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: red;
  padding: 13px 31px 13px 66px;
  border-radius: 33px;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--accent-color);
  width: 193px;
  height: auto;
  border-radius: 50px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: var(--mulish);
  font-weight: bold;
  transition: opacity 0.3s ease; */
}

.site-header-btn:hover {
  opacity: 0.8;
}

.site-header-btn:active {
  opacity: 0.6;
}

.primary-button {
  padding: 20px 68px;
  background-color: var(--accent-color);
  border-radius: 60px;
  color: var(--white);
  text-decoration: none;
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-right: 30px;
  transition: opacity 0.3s ease;
}

.primary-button:hover {
  opacity: 0.8;
}

.primary-button:active {
  opacity: 0.6;
}

.info-button {
  width: 256px;
}


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1528px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}

/* HEADER */

.hero-header-wrapper {
  background-color: #e5e5e5;
  padding-top: 46px;
  background-image: url(../img/hero-bg.svg), linear-gradient(212.6deg, #FFFFFF 3.87%, rgba(255, 255, 255, 0) 45.48%);
  background-position: calc(50% + 400px) -140px;
  padding-bottom: 95px;
  background-repeat: no-repeat;
  margin-bottom: 59px;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-logo {
  display: block;
  
}

.site-header-logo-img {
  display: block;
}

.site-header-link-img {
  width: 48px;
  height: 48px;
  position: absolute;
  left: -1%;
  /* display: block;
  width: 47px;
  height: 47px;
  margin-left: -50px; */
}

/* SITE-HERO */

.site-hero {
  margin-top: 150px;
}

.site-hero-content {
  display: flex;
  flex-direction: column;
}

.site-hero-title {
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
  max-width: 567px;
  width: 100%;
  height: auto;
  font-weight: bold;
  font-size: 90px;
}

.site-hero-text {
  padding: 0;
  margin: 0;
  max-width: 551px;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 118px;
}

.site-hero-btn-wrapper {
  display: flex;
  align-items: center;
}


.site-hero-call {
  color: #299EF3;
  font-weight: bold;
  font-size: 30px;
}

.site-hero-call::before {
  display: inline-block;
  content: 'sau';
  color: var(--gray);
  margin-right: 25px;
}

/* CASHBACK */

.cashback-container {
  margin-top: 59px;
  display: flex;
  background-color: #fdf4f4;
  border-radius: 21px;
  height: 244px;
  margin-bottom: 60px;
}

.cashback-content {
  display: flex;
  flex-direction: column;
  padding-top: 51px;
  padding-left: 125px;
  padding-bottom: 45px;
  margin-right: 90px;
}

.cashback-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 34px;
}

.cashback-text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  width: 670px;
}

.cashback-img {
  width: 473px;
  height: auto;
  padding-top: 51px;
  object-fit: contain;
  padding-bottom: 31px;
}

/* STEPS */

.steps {
  margin-top: 60px;
  margin-bottom: 75px;
}

.steps-container {
  padding-top: 60px;
}

.steps-title {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  text-align: center;
  max-width: 978px;
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.step-list {
  padding: 0;
  margin: 0;
  padding-left: 100px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  counter-reset: step;
}

.step-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  counter-increment: step;
  max-width: 358px;
  width: 100%;
  height: auto;
}

.step-item:not(:last-child) {
  margin-right: 140px;
}

.step-item::before {
  display: inline-block;
  padding-top: 15px;
  margin-bottom: 30px;
  font-family: var(--roboto);
  width: 99px;
  height: 99px;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--accent-color);
  content: counter(step);
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 12.375px 24.75px 0px rgb(0 0 0 / 11%);
}

.step-item-title {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.step-item-text {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--roboto);
}

/* DOCUMENT */

.document {
  padding-top: 75px;
  padding-bottom: 102px;
}

.document-title-wrapper {
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 90px;
}

.document-title {
  padding: 0;
  margin: 0;
  font-size: 50px;
  line-height: 1.5;
}

.document-text {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.document-card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.document-card-item {
  max-width: 720px;
  width: 100%;
  height: 204px;
  border-radius: 21px;
  padding-top: 35px;
  padding-right: 52px;
  padding-left: 52px;
  padding-bottom: 30px;
  display: flex;
}

.document-card-item:not(:last-child) {
  margin-right: 48px;
}

.document-card-item-red {
  background-color: var(--accent-color);
  color: var(--white);
}

.document-card-item-red h3 {
  color: var(--white);
}

.document-card-item-img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  margin-right: 60px;
}

.document-card-item-content {
  display: flex;
  flex-direction: column;
  margin-right: 75px;
}

.document-content-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.document-content-text {
  margin: 0;
  padding: 0;
  max-width: 400px;
  width: 100%;
  height: 72px;
}

.card-label {
  align-self: center;
  cursor: pointer;
}

.card-label-img {
  width: 59px;
  height: 59px;
  object-fit: contain;
  align-items: center;
}

.document-card-item-white {
  border: 3px solid var(--accent-color);
}

/* SITE-CTA */

.cta {
  margin-top: 102px;
  background-color: var(--accent-color);
  margin-bottom: 53px;
  padding-top: 54px;
  padding-bottom: 54px;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-title {
  padding: 0;
  margin: 0;
  width: 709px;
  height: 165px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: var(--white);
}

.cta-title strong {
  font-weight: 600;
}

.cta-call-wrapper {
  position: relative;
}

.cta-input {
  max-width: 433px;
  width: 100%;
  color: var(--gray);
  font-size: 28px;
  line-height: 125%;
  padding: 21px 75px 21px 38px;
  border: none;
  border-radius: 48px;
  box-shadow: -6.013888835906982px -6.013888835906982px 12.027777671813965px 0px rgb(255 255 255) inset, 6.013888835906982px 6.013888835906982px 12.027777671813965px 0px rgb(170 170 204 / 50%) inset, 2.405555486679077px 2.405555486679077px 4.811110973358154px 0px rgb(170 170 204 / 25%) inset, -2.405555486679077px -2.405555486679077px 4.811110973358154px 0px rgb(255 255 255 / 50%) inset;
}

.cta-input-link {
  position: absolute;
  top: calc(50% - 24px);
  right: 14px;
  box-shadow: 6.01389px 6.01389px 12.0278px rgb(170 170 204 / 50%), -6.01389px -6.01389px 12.0278px #ffffff;
  border-radius: 50%;
}

.cta-input-img {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: contain;
}

/* TODO CTA BUTTON */

/* OFFERS */

.offers {
  padding-top: 53px;
  margin-bottom: 65px;
}

.offers-title {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  margin-bottom: 84px;
}

.offers-list {
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.offers-list-item {
  padding: 39px 46px 24px 46px;
  display: flex;
  max-width: 689px;
  width: 100%;
  border-radius: 21px;
  background-color: rgba(78, 78, 78, 0.05) ;
}

.offers-list-item:nth-child(1) {
  margin-right: 110px;
  margin-bottom: 60px;
}
.offers-list-item:nth-child(2) {
  margin-bottom: 60px;
}

.offers-list-item:nth-child(3) {
  margin-right: 110px;
}

.offers-list-item-img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin-right: 30px;
}

.offers-content {
  display: flex;
  flex-direction: column;
}

.offers-content-title {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.offers-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* SITE-INFO */

.info {
  padding-top: 75px;
  margin-bottom: 86px;
}

.info-container {
  max-width: 1810px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 55px;
  padding-left: 55px;
  display: flex;
  align-items: center;
}

.info-content {
  max-width: 1370px;
  width: 100%;
  height: 880px;
  background-color: #fcf3f4;
  border-radius: 25px;
  padding-left: 75px;
  padding-top: 142px;
  padding-bottom: 220px;
}

.info-content-title {
  width: 750px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.info-content-text {
  margin: 0;
  padding: 0;
  width: 703px;
  height: 75px;
  font-weight: 400;
  font-family: var(--mulish);
  font-size: 25px;
  line-height: 1.3;
  margin-bottom: 73px;
}

.info-video-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 872px;
  width: 100%;
  height: 532px;
  background-color: var(--dark-blue);
  border-radius: 29px;
  box-shadow: 0px 47.3173px 65.0612px #818A8C;
  margin-left: -400px;
}

.info-video-box-img {
  width: 103px;
  height: 103px;
  object-fit: contain;
}

/* SITE-FOOTER */

.footer {
  margin-top: 86px;
  background-color: var(--dark-blue);
  padding-top: 100px;
  padding-bottom: 31px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer-link {
  display: block;
}

.footer-logo {
  display: block;
}

.footer-list {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.footer-list-item:not(:last-child) {
  margin-right: 95px;
}

.footer-list-item-link {
  font-weight: 400;
  font-family: var(--mulish);
  font-size: 21px;
  color: var(--white);
  text-decoration: none;
}

.footer-list-item-link-bold {
  font-weight: 700;
}

.footer-sponsor-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.footer-sponsor-item:not(:last-child) {
  margin-right: 76px;  
}

.footer-sponsor-link {
  display: block;
}

.footer-sponsor-logo {
  display: block;
}

.footer-divider {
  border: 0;
  height: 2px;
  background-color: var(--white);
  margin-bottom: 30px;
}

.footer-copyright {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  color: var(--white);
}

.footer-list-item-link:focus {
  outline: 2px dashed var(--white);
  outline-offset: 2px;
}

.footer-sponsor-link:focus {
  outline: 2px dashed var(--white);
  outline-offset: 2px;
}

.footer-link:focus {
  outline: 2px dashed var(--white);
  outline-offset: 2px;
}